# dependencies
/node_modules

# testing
/coverage
.nyc_output/

# production
/build
/dist

# misc
package-lock.json
.DS_Store
*.mp4

# editors configs
.vscode
.idea
.netbeans
launch.json
.history

# logs
*.debug
*.log
