doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description" content="website using node.js")
    meta(name="keywords", content="js, javascript, node.js, backend, frontend")
    title Workshop 5
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/flexboxgrid.css")
    link(rel="preconnect", href="https://fonts.gstatic.com")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu&display=swap")
    link(rel="shortcut icon", type="image/x-icon", href="/images/favicon.ico")
  body
    main
      h1(class="center-xs") Lista de álbumes

    block content