* {
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --black-color: #000000;
  --blue-color: #18a6e0;
  --blue-hover-color: rgb(70, 130, 180);
  --gray-color: #d4d4d5;
  --white-color: #ffffff;
}

body {
  max-width: 100vw;
}

a,
li,
p {
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: var(--white-color);
}

h1,
h2 {
  font-family: 'Ubuntu', sans-serif;
}

h2,
p {
  font-size: 0.9em;
}

h2 {
  margin: 1em 0 0 0;
}

header {
  align-items: center;
  background-color: var(--black-color);
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

iframe {
  height: 315px;
  width: 560px;
}

p {
  margin-top: 0.4em;
}

.album-btn {
  background-color: var(--blue-color);
  color: var(--white-color);
}

.album-btn:hover {
  background-color: var(--blue-hover-color);
}

.album-btn,
.home-btn {
  font-size: 0.8em;
  margin: 1em 0;
  padding: 0.3em 0.8em;
}

.album-info {
  margin: 0 2em;
}

.album-section {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  justify-content: space-between;
}

.card {
  background-color: var(--white-color);
  border: 1px solid var(--gray-color);
  box-shadow: 0 1px 1px 0 var(--gray-color);
  margin: 0.5em 0;
  padding-bottom: 1em;
}

.card:hover {
  box-shadow: 1px 2px 1px 1px var(--gray-color);
}

.card-body {
  text-align: center;
}

.description {
  text-align: justify;
}

.home-btn {
  background-color: var(--white-color);
  color: var(--blue-color);
}

.home-btn:hover {
  background-color: var(--blue-hover-color);
  color: var(--white-color);
}

.image-poster {
  max-width: 100%;
}

.image-thumb {
  max-width: 100%;
  transition: opacity 0.2s ease-in-out;
}

.image-thumb:hover {
  opacity: 0.6;
}

.list-section {
  display: grid;
  grid-template: auto / repeat(4, 24%);
  justify-content: space-between;
}

.video {
  text-align: center;
}

@media (max-width: 560px) {
  iframe {
    height: 180px;
    width: 320px;
  }

  .album-section {
    display: block;
  }

  .list-section {
    grid-template: auto / repeat(2, 48%);
  }
}