*, *:before, *:after {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --black-alpha: rgba(0, 0, 0, 0.5);
  --black-alpha-mobile: rgba(0, 0, 0, 0.8);
  --black-color: #000000;
  --blue-color: #18a6e0;
  --green-color: #87bb50;
  --primary: #1b2456;
  --secondary: #121a3f;
  --white-color: #ffffff;
}